$mobile-screen: 500px;
$desktop-screen: 750px;

@mixin tablet {
  @media (min-width: #{$mobile-screen}) and (max-width: #{$desktop-screen + 1}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-screen}) {
    @content;
  }
}

.leaderboard-page-wrapper {
  &__title {
    font-size: 1.5rem;
    color: #182c62;
    text-align: center;
    font-weight: bold;
  }

  &__table {
    margin-top: 20px;
    color: #4b5c68;
    font-size: 0.875rem;

    .country_name {
    }

    .flag {
      margin-right: 20px;

      img {
        width: 53px;
        height: 37px;
      }
    }

    .font-bold {
      font-weight: bold;
      font-size: 1rem;

      &--blue {
        color: #5292f1;
      }
    }

    .away-team {
      .flag {
        margin: 0 20px 0 0;
      }
    }

    .row {
      height: 70px;
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));

      &:not(:first-child) {
        border-top: 1px solid #e4edf2;
      }

      // &:nth-child(odd) {
      //   background: #f6f7f7;
      // }

      .col {
        display: flex;

        &_1 {
          // justify-content: flex-end;
          align-items: center;
          grid-column: span 7 / span 7;
          margin-left: 10px;
        }

        &_2 {
          align-items: center;
          justify-content: center;
          grid-column: span 1 / span 1;
          // margin-left: 40px;
        }

        &_3 {
          justify-content: center;
          align-items: center;
          grid-column: span 1 / span 1;
        }

        &_3-4 {
          display: none;
          justify-content: center;
          align-items: center;
          grid-column: span 2 / span 2;
        }

        &_4 {
          justify-content: center;
          align-items: center;
          grid-column: span 1 / span 1;
        }

        &_5 {
          align-items: center;
          justify-content: center;
          grid-column: span 2 / span 2;
        }

        &--vertical {
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
        }
      }

      @include tablet() {
        .col {
          &_1 {
            grid-column: span 4 / span 4;
          }

          &_2,
          &_3,
          &_4 {
            grid-column: span 2 / span 2;
          }

          &_5 {
            grid-column: span 2 / span 2;
          }
        }
      }

      @include mobile() {
        .col {
          &_1 {
            grid-column: span 6 / span 6;
          }

          &_2 {
            grid-column: span 2 / span 2;
          }

          &_3,
          &_4 {
            display: none;
          }

          &_3-4 {
            display: flex;
          }

          &_3,
          &_5 {
            grid-column: span 2 / span 2;
          }
        }
      }
    }

    .row--header {
      height: 40px;
      background: #e4edf2 !important;
      font-weight: bold;

      .col {
        font-size: 0.75rem;
      }
    }
  }
}
